
<div class="mdl-layout mdl-layout--fixed-header">
    <header class="docs-layout-header mdl-layout__header is-casting-shadow">
        <div class="mdl-layout__header-row">
            {{ link-to 'leVelUP' 'index' class="mdl-layout-title header__title" }}
            <div class="mdl-layout-spacer"></div>
            <span class="navbar-text">
                Steve Utting
            </span>
        </div>
    </header>
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            {{#each navData as |navLink|}}
                {{ link-to navLink.FN (concat navLink.route '.item') navLink.slug class=navLink.classes }}
            {{/each}}
        </div>
    </div>
</div>