<div class="progress-bar">
    <span class="progress-bar__base-bar">{{completedPoints}}</span>
    <span
        class="progress-bar__completed"
        style="width: {{progress-bar-eq totalPoints completedPoints}}%"></span>
    <span class="progress-bar__text">{{completedPoints}}/{{totalPoints}}</span>
</div>