
<div class="section-container row">
    <div class="side-bar col-4">
        {{side-bar
            title=model.shortTitle
            points=model.points
            loadPoint=(action "loadPoint")
        }}
    </div>

    <div class="section-content col-8">
        {{content-type model.points currentContentID}}
    </div>
</div>