
@import "ember-bootstrap/bootstrap";

$default-margin: 20px;

a {
    text-decoration: none;
    color: #353535;
    &:hover {
        color: #555555;
    }
}

.app-container {
    overflow: hidden;
}

.side-bar {
    background-color: grey;
    color: white;
    min-height: 100vh;
    padding-top: $default-margin;

    &__title {
        list-style: none;
        font-size: 20pt;
    }
    &__nav {

    }
    &__nav-item {

        a {
            color: white;
        }
    }
}

.section-content {
    background-color: #dadada;
    padding-top: $default-margin;
}

.code-snippet{
    margin: $default-margin;
    &__code {
        padding: $default-margin/2;
    }
}

.text-component {
    &__divider {
        position: relative;
        padding: 0px 25% 0px 20px;
        border-bottom: 1px solid black;
    }
}