@import 'material-overrides';

body {
    margin: 0;
    background-color: #f2f2f2;
}

.splash-page {
    margin: 20px 50px;
    text-align: center;
}

.mdl-layout-title.header__title {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 60pt;
}

.side-bar {
    &__item {
        text-overflow: ellipsis;
        white-space: nowrap;
        span {
            margin: 0;
        }

        &:before {
            position: absolute;
            top: 12px;
            font-size: 8px;
        }

        &--level-1:hover:before {
            content: '⭐';
        }
        &--level-2:hover:before {
            content: '⭐⭐';
        }
        &--level-3:hover:before {
            content: '⭐⭐⭐';
        }
        &--level-4:hover:before {
            content: '⭐⭐⭐⭐';
        }
        &--level-5:hover:before {
            content: '⭐⭐⭐⭐⭐';
        }
    }
    &__approval {
        position: absolute;
        top: -7px;
        font-size: 12px;
        left: 5px;
    }
}

.progress-bar {
    position: relative;

    &__base-bar,
    &__completed {
        height: 10px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    &__base-bar {
        background-color: red;
    }
    &__completed {
        background-color: blue;
    }
}

.point-content__title {
    margin-top: 0;
    font-size: 30px;
}

.code-snippet {
    display: inline-block;
    background-color: rgba(0,0,0,.06);
    border-radius: 3px;
    overflow-x: scroll;
    width: 80%;
    padding: 0 20px 20px;
}