
{{#if block.title}}
<span class="text-component__divider"></span>
<h4 class="text-component__title">{{block.title}}</h4>
{{/if}}
{{#each block.data as |chunk|}}
    <p class="text-component__text-block">{{chunk}}</p>
{{/each}}