<div class="splash-page">
    <h1>Welcome</h1>
    <p>At IG, we want to support our engineers to be the best in the industry.</p>
    <p>In this section, you'll find a collection of competency checklists covering the core technologies and methodologies we use. These lists can be referenced when setting goals with your manager and help track early progress. It is expected that by the end of the probation period, engineers will be able to demonstrate at least a basic working knowledge of all core topics.</p>
    <p><a href="https://wiki.iggroup.local/display/~uttings/Training" class="href">Wiki links</a></p>
</div>
{{outlet}}