{{primary-nav navData=model.navData}}

<div class="content mdl-grid">
    <div class="mdl-cell mdl-cell--3-col">
        {{side-bar
            title=title
            points=model.data
        }}
    </div>
    <div class="mdl-cell mdl-cell--9-col">
        {{point-content content=model.activeContent}}
    </div>
    {{outlet}}
</div>